.list_icons{
    padding:20px;
}
.list_icons a{
    border:1px solid #ddd;
    display:block;
    float:left;
    width:70px;
    height:70px;
    background:#fafafa;
    text-align: center;
    line-height: 65px;
    margin-right:10px;
    margin-bottom:10px;
    cursor: pointer;
}
.list_icons a img{
    max-width:60px;
    max-height:60px;
    min-width:45px;
    min-height:45px;
    vertical-align: middle;
}